$primary:0;

$blue:hsl(205,50,50);

$red:hsl(343, 54, 51);
$red-l1:hsl(343,50,50);
$red-l2:hsl(343,50,70);
$red-d1:hsl(343, 54, 41);
$red-d2:hsl(343, 54, 31);


$blue-intense:hsl(205,75,40);

$blue-intense-l1:hsl(205,75,50);
$blue-intense-l2:hsl(205,75,60);

$blue-l1:hsl(205,50,50);
$blue-l2:hsl(205,50,70);
$blue-d1:hsl(205,50,40);
$blue-d2:hsl(205,50,30);
$blue-d3:hsl(220,50,40);



$blue-text:hsl(205,40,60);
$blue-text-dark:hsl(205,40,30);
$blue-bg:hsl(205,50,85);

