// $shadow-0:0 1px 3px hsla(0%,0%,.2);
// $shadow-1:0 4px 6px hsla(0%,0%,.2);
// $shadow-2:0 5px 15px hsla(0%,0%,.2);
// $shadow-3:0 10px 24px hsla(0%,0%,.2);
// $shadow-4:0 15px 35px hsla(0%,0%,.2);


$shadow-0:0 1px 3px rgba(0, 0, 0, 0.2);
$shadow-1:0 4px 6px rgba(0, 0, 0, 0.2);
$shadow-2:0 5px 15px rgba(0, 0, 0, 0.2);
$shadow-3:0 10px 24px rgba(0, 0, 0, 0.2);
$shadow-4:0 15px 35px rgba(0, 0, 0, 0.2);



$shadow-p1-1:0 1px 3px rgba(0, 0, 0, .12);
$shadow-p1-2:0 1px 2px rbga(0, 0, 0, .24);

$shadow-p2-1:0 3px 6px rgba(0, 0, 0, .15);
$shadow-p2-2:0 2px 4px rbga(0, 0, 0, .12);

$shadow-p3-1:0 10px 20px rgba(0, 0, 0, .15);
$shadow-p3-2:0 3px 6px rbga(0, 0, 0, .10);

$shadow-p4-1:0 15px 25px rgba(0, 0, 0, .15);
$shadow-p4-2:0 5px 10px rbga(0, 0, 0, .5);

$shadow-p5: 0 20px 40px rgba(0, 0, 0, .2);

