.nav{
    
    &__checkbox{
        display: none;
        
    }
    &__button{
        background-color: white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 10;
        border-radius: 50%;


    }
    &__bg{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top:6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($blue-d2,$blue);
        z-index:5;
        box-shadow: $shadow-p3-1;
        box-shadow: $shadow-p3-2;
        transition: transform .8s ease-in-out;
        
    }
    &__nav{
        position: fixed;
        height: 100vh;
        width: 100%;
        transform: translateX(100%);
        top: 0;
        left:0;
        
        opacity: 0;
        z-index: 6;
        transition: opacity .7s ease-in;
        animation: bounce 1s ea;
    }
    &__link{
        
        &:link,
        &:visited{
            display: inline-block;
            padding: 1rem 2rem;
            font-size: 3rem;
            font-weight: 300;
            color: #eee;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(90deg,transparent 0%,transparent 50%,#eee 50%);
            border-radius: 4px;
            background-size: 220%;
            transition: all .6s;
        }
       
        &:hover,
        &:active {
            background-position: 100%;
            color: $blue-d2;
            transform: translate(-10px);

            box-shadow: $shadow-p5;
        }
    }
      
    &__list{
        position: absolute;
       left: 50%;
       top:50%;
       width: 100%;
       transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;
        
    }
    &__item{
        margin: 1rem;
    }

    &__checkbox:checked ~&__bg {
        transform: scale(80);
    }
    &__checkbox:checked~&__nav {
        transform: translateX(0%);
      opacity: 1;
    }
}

.nav2{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #eee;
    left:50%;
    transform: translateX(-50%);
    opacity: .98;

  

    box-shadow: $shadow-p2-1;

    &:hover{
        box-shadow: $shadow-p3-1;   
     }
    &__link{
        text-decoration: none;
        font-size: 20px;
        padding: 16px 16px;
        font-family: montserrat, sans-serif;
        font-weight: 600;

        &:hover{
            background: rgb(189, 188, 188);

        }
    }

    &__list{

        padding: 10px;
        
        .red{
            color: $red;
           
        }
      
        .blue{
            color: $blue;
            
        }
       
        
    }
}

